@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* ------------common css----------- */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 100px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
p{
    color: gray;
}
/* --------------influencer section-------------- */
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
}
.influencer-content h1{
    font-size: 50px;
}
.influencer-button{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 66, 97);
    padding: 10px 40px;
    border-radius: 30px;
}
.influencer-img{
    margin-left: 50px;
    transition: 2s;
    background-image: url(images/Circle\ design.svg);
    /* position: absolute; */
    /* top: 0;
    right: 100px; */
}
.influencer-img:hover{
    transform: scale(1.20);
}
/* -----------collection section---------- */
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.collection{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px grey;
}
.rating i{
    color: orange;
}
.collection-btn{
    text-align: right;
    margin-top: 30px;
}
.collection-btn a{
    color: rgb(255, 66, 97);
}
/* -----------------------------technology section---------------------- */
.technology{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.technology-img img{
    width: 80%;
}

/* ----------------------footer-------------------- */
footer{
    text-align: center;
    background-color: rgb(2, 2, 85);
    padding: 20px 0;
    color: white;
}
footer .social-icon{
    background-color: rgba(110, 110, 110, 0.342);
    padding: 5px;
    border-radius: 10px;
    color: thistle;
}

/* ----------------------Resposive css------------------ */

/* ------------------Mobile Device--------------- */
@media only screen and (max-width: 688px) {
    /* --------------influencer section-------------- */
    .influencer{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .influencer-content{
        order: 2;
    }
    .influencer-img{
        width: 90%;
        background-size: cover;
        order: 1;
    }
    /* -----------collection section---------- */
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------technology section------------- */
    .technology{
        grid-template-columns: repeat(1, 1fr);
    }
    .technology-img{
        width: 100%;
    }
  }
  
  /* -------------------Tablet Device-------------- */
  @media only screen and (max-width: 992px) {
    .influencer{
        grid-template-columns: repeat(2,1fr);
    }
    .influencer-content h1{
        font-size: 30px;
    }
    .influencer-img{
        width: 98%;
        background-size: cover;
    }
    /* -----------collection section---------- */
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .collection img{
        width: 98%;
    }
    /* ------------technology section------------- */
    .technology{
        grid-template-columns: repeat(2, 1fr);
    }
    .technology-img{
        width: 100%;
    }
  }

  /* Laptop Device */
   @media only screen and (max-width: 1312px) {
    /* .influencer{
        grid-template-columns: repeat(2,1fr);
    } */
    /* .influencer-content h1{
        font-size: 30px;
    } */
    .influencer-img{
        width: 98%;
        background-size: cover;
    }
    /* -----------collection section---------- */
    .collections{
        grid-template-columns: repeat(3, 1fr);
    }
    .collection img{
        width: 98%;
    }
    /* ------------technology section------------- */
    .technology{
        grid-template-columns: repeat(2, 1fr);
    }
    /* .technology-img{
        width: 100%;
    } */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }